#outer {
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: blue;
    margin: auto;
}
#inner {
    position: relative;
    width: 75%;
    height: 75%;
    background-color: antiquewhite;
}